[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/namay10/solana-starter
[submodule "Turbin3_prereqs"]
	path = Turbin3_prereqs
	url = https://github.com/namay10/Turbin3_prereqs
[submodule "anchorEscrow"]
	path = anchorEscrow
	url = https://github.com/namay10/anchorEscrow
[submodule "Anchor_Amm"]
	path = Anchor_Amm
	url = https://github.com/namay10/Anchor_Amm
[submodule "nft-staking"]
	path = staking
	url = https://github.com/namay10/staking
[submodule "marketplace"]
	path = marketplace
	url = https://github.com/namay10/marketplace
[submodule "Dice_Roll"]
	path = Dice_Roll
	url = https://github.com/namay10/Dice_Roll
